body {
display: flex;
}

p {margin: 0}

#main-div{
height: 100vh;
width: 85%;
background-color: oklch(97% 0 none);
padding: 32px;
padding-right: 200px;
padding-left: 200px;
}

#sidebar-div{
height: 100vh;
width: 15%;
background-color: oklch(20.5% 0 none);
color: oklch(54.6% 0.245 262.881);
padding: 32px;
display: grid;
gap: 8px;
align-content: start;
}

.projects-div{
display: grid;
gap: 24px;
}

.project-div{
display: grid;
border: 1px solid black;
padding: 12px;
gap: 8px;
grid-template-areas:
"title creationDate"
"description description"
"todoCount todoCount"
"buttons buttons"
"todosCompactList todosCompactList";
}

.project-title-div{
font-weight: 700;
grid-area: title;
}

.project-creationDate-div{
grid-area: creationDate;
text-align: right;
}

.project-description-div{
grid-area: description;
}

.todo-count{
grid-area: todoCount;
}

.project-btns-div{
grid-area: buttons;
display: flex;
gap: 8px;
}

.todos-compact-list{
display: grid;
gap: 8px;
grid-area: todosCompactList;
}

.todo-compact{
display: grid;
border: 1px solid black;
padding: 12px;
gap: 8px;
grid-template-areas:
"title creationDate"
"description description"
"priority priority"
"dueDate dueDate";
}

.todo-title-p{
grid-area: title;
font-weight: 700;
}

.todo-description-p{
grid-area: description;
}

.todo-creationDate-p{
grid-area: creationDate;
text-align: right;
}

.todo-dueDate-p{
grid-area: dueDate;
}

.todo-priority-p{
grid-area: priority;
}

.todo-div{
    display: grid;
    border: 1px solid black;
    gap: 6px;
    padding: 12px;
    grid-template-areas: 
    "title creationDate"
    "description description"
    "dueDate dueDate"
    "status status"
    "priority priority"
    "notes notes";
}

.todo-detail-title-p{
    grid-area: title;
    font-weight: 700;
}

.todo-detail-description-p{
    grid-area: description;
}

.todo-detail-dueDate-p{
    grid-area: dueDate;
}

.todo-detail-status-p{
    grid-area: status;
}

.todo-detail-priority-p{
    grid-area: priority;
}

.todo-detail-notes-p{
    grid-area: notes;
}

.todo-detail-creationDate-p{
    grid-area: creationDate;
    text-align: right;
}

.todos-div-compact{
    display: grid;
    border: 1px solid black;
    padding: 12px;
    gap: 8px;
    grid-template-areas:
    "title creationDate"
    "description description"
    "priority priority"
    "dueDate dueDate";
}

#todos-container-div{
    display: grid;
    gap: 8px;
}

.hide{
    display: none;
}

#todos-container-div.hide{
    display: none;
}

